@media (min-width: 576px) { 
    
}
@media (min-width: 768px) { 
    
}
@media (min-width: 992px) { 

}
@media (min-width: 1200px) {
    .container {
        max-width: 1400px;
        padding: 0;
    }
}
@media (min-width: 1200px) and (max-width: 1500px) {
    .container {
        padding: 0 50px;
    }
}

/* GLOBAL CLASSES AND TAGS */
body {
    overflow-x: hidden;
}
.w-fit {
    width: fit-content;
    width: -moz-fit-content;
}
.navbar-light .navbar-toggler {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}
* {
    font-family: "Poppins", sans-serif;
}
.btn-lightblue {
    background-color: #3da4d7;
    border-radius: 7px;
    color: #fff;
    border: 2px solid #3da4d7;
    font-size: 22px;
    font-weight: 600;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding: 23px 68px;
    transition-duration: 0.2s;
}
.btn-lightblue:hover {
    color: #fff;
    background-color: #3da4d7d6;
}
.red-bg {
    background-color: #b9453d;
}

/* HEADER */
.homepage-header {
    background-image: url("../img/homepage-background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 59vh;
    padding: 26px 0;
}
.homepage-header .navbar {
    align-items: flex-start;
}
.homepage-header .navbar-nav .nav-item:not(:last-of-type) {
    margin: 0 20px 0 0;
}
.homepage-header .nav-link {
    font-size: 16px;
    color: #000 !important;
    font-weight: 700;
}

/* HOMEPAGE */
.homepage {
    min-height: 41vh;
    position: relative;
}
@media (min-width: 2000px) {
    .homepage {
        min-height: 50vh;
    }
    .homepage-header {
        min-height: 50vh;
    }
}
.homepage--buttons {
    margin-right: 20px;
    margin-top: -250px;
}
.homepage--buttons .btn {
    padding: 25px 50px 25px 100px;
    max-width: 420px;
    width: 100%;
    text-align: left;
    background-repeat: no-repeat;
    background-position: left 24px center;
    margin-bottom: 30px;
}
.homepage--buttons .btn.pacient-ico {
    background-image: url("../img/pacient.png");
}
.homepage--buttons .btn.zdravotnik-ico {
    background-image: url("../img/zdravotnik.png");
}
.homepage--description {
    margin-top: 65px;
}
.homepage--description p {
    font-size: 18px;
    line-height: 31px;
    color: #fff;
    max-width: 400px;
    font-weight: 500;
}
.homepage--youtube {
    margin-top: 55px;
}
.homepage--youtube a {
    border-radius: 7px;
    color: #fff;
    border: 2px solid #fff;
    font-size: 16px;
    font-weight: 400;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    text-decoration: none;
    padding: 22px 95px 22px 30px;
    display: block;
    background-image: url("../img/yt.png");
    background-repeat: no-repeat;
    background-position: right 20px center;
    -o-border-radius: 7px;
    transition-duration: 0.2s;
} 
.homepage--youtube a:hover {
    background-color: #ffffff0f;
}
.homepage--title {
    margin-top: -400px;
}
.homepage--title h1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
}
.homepage--title h1 b {
    font-weight: 700;
}
.homepage--title h1 span {
    display: block;
}
.homepage--titleSub {
    color: #3da4d7;
    font-size: 50px;
    line-height: 50px;
    font-weight: 600;
}
.homepage--video {
    margin-top: -250px;
    position: relative;
}
.homepage--videoPlay {
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
}
.homepage--videoMain {
    border-radius: 12px 12px 100px 12px;
    -webkit-border-radius: 12px 12px 100px 12px;
    -moz-border-radius: 12px 12px 100px 12px;
    -ms-border-radius: 12px 12px 100px 12px;
    -o-border-radius: 12px 12px 100px 12px;
    -webkit-box-shadow: 0px 5px 22px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 22px 1px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 22px 1px rgba(0,0,0,0.25);
}
.homepage-footer {
    margin-top: 38px;
}
.homepage-footer p {
    font-size: 14px;
    color: #fff;
}
.homepage-footer .homepage-footer--link a {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    background-image: url("../img/white-arrow.png");
    background-repeat: no-repeat;
    padding-left: 20px;
    background-position: left center;
    transition-duration: 0.2s;
}
.homepage-footer .homepage-footer--link a:hover {
    background-position: left 3px center;
}
@media (max-width: 1200px) {
    .homepage--video {
        margin-top: -180px;
    }
}
@media (max-width: 768px) {
    .homepage--buttons {
        margin-top: 0;
        margin-right: 0px;
    }
    .homepage--video {
        margin-top: 0px;
    }
    .homepage--title {
        margin-top: 0px;
        margin-bottom: 50px;
    }
    .homepage--videoMain {
        border-radius: 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        -ms-border-radius: 12px;
        -o-border-radius: 12px;
    }
    .homepage-header {
        min-height: unset;
        padding: 15px 0;
    }
    .homepage--buttons .btn {
        max-width: 100%;
        padding: 25px 30px 25px 90px;
        background-position: left 15px center;
    }
    .navbar-brand img {
        max-height: 80px;
    }
    .homepage {
        padding: 70px 0 40px;
    }
    .homepage--description {
        margin-top: 35px;
    }
    .homepage--video {
        margin-top: 40px;
    }
    .homepage-header .navbar {
        align-items: center;
    }
    .homepage-header .navbar-nav {
        margin-top: 20px;
    }
}

/* ZDRAVOTNICTVI */
.subpage-header {
    background-color: #daeffb;
    padding: 22px 0;
}
.subpage-header .navbar {
    padding: 0;
}
.subpage-title h2 {
    font-size: 35px;
    line-height: 38px;
    font-weight: 600;
}
.subpage-titleSub {
    color: #3da4d7;
    font-size: 43px;
    line-height: 45px;
    font-weight: 600;
}
.subpage-title {
    padding: 0 35px;
    border-right: 3px solid #3da4d7;
}
.header--zdravotnici {
    margin: 0 30px;
}
.header--zdravotnici a {
    color: #b9453d;
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
}
.header--zdravotnici a img {
    margin-right: 10px;
}
.header--socials {
    margin-left: auto;
}
.header--socials a {
    margin-left: 12px;
}
.subpage-header--content {
    margin: 22px 0 35px;
}
@media (max-width: 1500px) {
    .subpage-title h2 {
        font-size: 26px;
        line-height: 28px;
    }
    .subpage-titleSub {
        font-size: 33px;
        line-height: 35px;
    }
    .header--zdravotnici a {
        font-size: 25px;
    }
}
@media (max-width: 1330px) {
    .header--zdravotnici {
        margin: 0 15px;
    }
    .subpage-title {
        padding: 0 20px; 
    }
}
@media (max-width: 1270px) {
    .subpage-header .navbar  {
        display: flex;
        flex-direction: column;
    }
    .subpage-title {
        border-right: 0;
    }
    .header--socials {
        margin-right: auto;
        padding: 10px 0;
    }
    .subpage-title {
        margin: 10px 0;
        text-align: center;
    }
}
@media (max-width: 768px) {
    .subpage-header .navbar-brand img {
        max-height: 100px;
    }
}

.breadcrumb {
    display: block !important;
}
@media (max-width: 1200px) {
    .breadcrumb {
        width: fit-content;
        width: -moz-fit-content;
        margin: auto;
    }
}
.breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-image: url("../img/home.png");
    background-repeat: no-repeat;
    background-position: left center;
}
.breadcrumb ul li a {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    transition-duration: 0.1s;
    font-weight: 500;
}
.breadcrumb ul li:last-of-type a, .breadcrumb ul li a:hover {
    color: #3da4d7;
}
.breadcrumb ul li:not(:last-of-type) {
    background-image: url("../img/breadcrumb-arrow.png");
    background-repeat: no-repeat;
    background-position: right 9px center;
    padding-right: 26px;
}
.bg-lightblue {
    background-color: #daeffb;
}
.bg-red {
    background-color: #b9453d;
}
.news-small, .news-large, .link-card, .video-box {
    -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.1);
} 
.news-large {
    border-radius: 10px 10px 100px 10px;
    -webkit-border-radius: 10px 10px 100px 10px;
    -moz-border-radius: 10px 10px 100px 10px;
    -ms-border-radius: 10px 10px 100px 10px;
    -o-border-radius: 10px 10px 100px 10px;
    position: relative;
    height: calc(100% - 25px);
    margin-bottom: 25px;
    background-color: #fff;
}
.news-large--text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 15px 25px;
    max-width: 450px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    background-color: #032f459e;
}
.news-large--text a {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 36px;
    transition-duration: 0.1s;
}
.news-large--text p {
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0;
}
.news-small {
    border-radius: 10px 10px 40px 10px;
    -webkit-border-radius: 10px 10px 40px 10px;
    -moz-border-radius: 10px 10px 40px 10px;
    -ms-border-radius: 10px 10px 40px 10px;
    -o-border-radius: 10px 10px 40px 10px;
    background-color: #fff;
    height: calc(100% - 25px);
    margin-bottom: 25px;
}
.news-small--content {
    padding: 30px 21px;
}
.news-small--tag {
    background-color: #032f459e;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 13px;
    line-height: 26px;
    padding: 0 10px;
}
.news-small--date {
    color: #3da4d7;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 4px;
}
.news-small--title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 9px;
    color: #000;
    display: block;
    text-decoration: none;
    transition-duration: 0.1s;
}
.news-small--title:hover {
    color: #b9453d;
}
.news-small--text {
    color: #777777;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0;
}
.news {
    padding-bottom: 80px;
}
.news-large--image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px 10px 100px 10px;
    -webkit-border-radius: 10px 10px 100px 10px;
    -moz-border-radius: 10px 10px 100px 10px;
    -ms-border-radius: 10px 10px 100px 10px;
    -o-border-radius: 10px 10px 100px 10px;
}
.news-small--image {
    height: 164px;
    width: 100%;
    object-fit: cover;
}
.news-small-upper .news-small--image {
    height: 215px;
}
.btn-red {
    display: block;
    background-color: #b9453d;
    color: #fff;
    border: 1px solid #b9453d;
    font-size: 14px;
    padding: 10px 50px 10px 25px;
    background-image: url("../img/btn-arrow-white.png");
    background-repeat: no-repeat;
    background-position: right 20px center;
    transition-duration: 0.2s;
}
.btn-red:hover {
    background-color: #fff;
    color: #b9453d;
    border: 1px solid #b9453d;background-image: url("../img/btn-arrow-red.png");
}
@media (max-width: 1200px) {
    .news-large--text {
        max-width: 300px;
    }
}
@media (max-width: 768px) {
    .news-large--image {
        min-height: 400px;
    }
    .news-large--text {
        bottom: unset;
        top: 10px;
        right: 10px;
        width: 100%;
        max-width: calc(100% - 20px);
    }
}
.links {
    padding: 80px 0 140px;
}
.link-card {
    margin-bottom: 25px;
    border-radius: 10px 10px 10px 40px;
    -webkit-border-radius: 10px 10px 10px 40px;
    -moz-border-radius: 10px 10px 10px 40px;
    -ms-border-radius: 10px 10px 10px 40px;
    -o-border-radius: 10px 10px 10px 40px;
    height: calc(100% - 25px);
    position: relative;
}
.link-card img {
    width: 100%;
}
.link-card--content {
    padding: 30px 30px 95px;
}
.link-card--title {
    font-size: 26px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    transition-duration: 0.1s;
}
.link-card--title:hover {
    color: #3da4d7;
}
.link-card--text {
    color: #777777;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0;
}
.link-card--btn {
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.btn-lightbluebordered {
    display: block;
    border: 2px solid #3da4d7;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding: 14px 43px 14px 28px;
    color: #3da4d7;
    font-size: 14px;
    font-weight: 600;
    background-image: url("../img/btn-arrow-blue.png");
    background-repeat: no-repeat;
    background-position: right 18px center;
    transition-duration: 0.2s;
}
.btn-lightbluebordered:hover {
    background-color: #3da4d7;
    color: #fff;background-image: url("../img/btn-arrow-white.png");
}
.footer p {
    font-size: 14px;
}
.footer a {
    color: #fff;
    text-decoration: none;
}

/* VIDEA */
.subpage {
    padding: 90px 0 350px;
    background-image: url("../img/subpage-footer.png");
    background-repeat: no-repeat;
    background-position: bottom center;
}
.subpage.subpage-nobg {
    padding: 90px 0 100px;
    background-image: none;
}
.subpage-heading {
    margin-bottom: 60px;
}
.subpage-heading h1 {
    font-size: 42px;
    font-weight: 600;
}
.videos-buttons {
    margin-bottom: 40px;
}
.videos-buttons ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}
.videos-buttons ul li:not(:last-of-type) {
    margin-right: 15px;
}
.videos-buttons ul li {
    margin-bottom: 30px;
}
.videos-buttons ul li a {
    background-color: #fff;
    color: #000;
    border: 1px solid #3da4d7;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    font-size: 17px;
    font-weight: 600;
    transition-duration: 0.2s;
}
.smaller-buttons ul li a {
    font-size: 14px;
    padding: 10px 25px;
}
.videos-buttons ul li.active a, .videos-buttons ul li a:hover {
    background-color: #3da4d7;
    color: #fff;
}
.video-box {
    padding: 45px;
    border-radius: 0 25px 0 25px;
    -webkit-border-radius: 0 25px 0 25px;
    -moz-border-radius: 0 25px 0 25px;
    -ms-border-radius: 0 25px 0 25px;
    -o-border-radius: 0 25px 0 25px;
    margin-bottom: 30px;
}
.video-box--video {
    position: relative;
}
.video-box--video::before{
    background-image: url("../img/video_play-white.png");
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
}
.video-box--title {
    font-size: 26px;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
    transition-duration: 0.1s;
}
.video-box--title:hover {
    color: #000;
}
.video-box--duration {
    padding-left: 32px;
    background-image: url("../img/stopwatch.png");
    background-repeat: no-repeat;
    background-position: left center;
    color: #777777;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 15px;
}
.video-box--duration span {
    color: #000;
    font-weight: 600;
}
.video-box--text {
    color: #777777;
    font-size: 14px;
    line-height: 26px;
    padding-right: 15px;
}
@media (max-width: 768px) {
    .video-box--video {
        margin-top: 10px;
    }
    .video-box {
        padding: 35px 25px;
    }
    .videos-buttons ul {
        flex-direction: column;
    }
    .videos-buttons ul li {
        min-height: 40px;
        margin-bottom: 10px;
        margin-right: 0 !important;
    }
    .videos-buttons ul li a {
        width: 100%;
        display: block;
        text-align: center;
    }
    .videos-buttons ul li:not(:first-of-type) {
        margin-left: 0;
    }
    .subpage {
        padding: 60px 0 240px;
    }
}
@media (max-width: 576px) {
    .subpage-heading {
        margin-bottom: 30px;
    }
}

/* SPOLEK */
.subpage-custom h2, .sub-section h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 35px;
}
.subpage-custom p, .members-list p {
    color: #777777;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 5px;
}
.subpage-custom b {
    color: #000;
    font-weight: 600;
}
.members-list img {
    height: 260px;
    object-fit: cover;
}
.members-list {
    padding-top: 65px;
}
.members-list .members-list--name {
    color: #3da4d7;
    font-size: 15px;
    font-weight: 700;
    margin: 30px 0 12px;
}
.members-list p {
    line-height: 24px;
}
.documents-list {
    padding-top: 65px;
}
.documents-list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.documents-list ul li a {
    background-image: url("../img/document-icon.png");
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    color: #3da4d7;
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;
}
.documents-list ul li a:hover {
    text-decoration: underline;
}
@media (max-width: 576px) {
    .members-list img {
        width: 260px;
    }
}

/* PSYCHOTERAPIE */
.logos-grey {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}
@media (min-width: 993px) {
    .logos-grey a:not(:first-of-type) {
        margin-left: 15px;
    }
}
@media (max-width: 768px) {
    .logos-grey {
        margin-top: 40px;
    }
}
.logos-grey a {
    margin-bottom: 15px;
}

/* PRIHLASENI */
.login-box {
    background-color: #f1f6f9;
    padding: 40px 50px;
}
.form-box label {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    display: block;
    margin-bottom: 10px;
}
.form-box input:not([type="submit"]), .form-box textarea {
    border: none;
    width: 100%;
    height: 50px;
    padding: 15px 20px;
    font-size: 14px;
    outline: none !important;
}
.form-box textarea {
    resize: none;
    min-height: 150px;
}
.form-box .inputBox {
    margin-bottom: 17px;
}
.forgotten-password {
    color: #3da4d7;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
@media (max-width: 576px) {
    .login-box {
        padding: 30px 20px;
    }
}

/* PORADNA */
.contact-form {
    background-color: #f1f6f9;
    padding: 60px 135px;
    margin: 50px 0 80px;
}
@media (max-width: 1500px) and (min-width: 1415px) {
    .contact-form {
        padding: 60px 88px;
    }
}
@media (max-width: 1415px) and (min-width: 1200px) {
    .contact-form {
        padding: 60px 20px;
    }
    .form-box label {
        font-size: 13px;
    }
}
@media (max-width: 768px) {
    .contact-form {
        padding: 40px 30px;
    }
}
@media (max-width: 576px) {
    .contact-form {
        padding: 30px 20px;
        margin: 20px 0 60px;
    }
}
.qaa-list span {
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    color: #000;
    display: block;
    margin-bottom: 3px;
}
.qaa-box {
    margin-bottom: 60px;
}
.qaa-list p {
    color: #777777;
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 5px;
}
.qaa-question {
    margin-bottom: 20px;
}
.qaa-question p, .qaa-question a {
    font-size: 18px;
    font-weight: 500;
    color: #3da4d7;
    line-height: 26px;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
}

/* PARTNERI */
.partners-row {
    margin: 50px 0 70px;
}
.partner-box {
    -webkit-box-shadow: 0px 5px 22px 1px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 5px 22px 1px rgba(0,0,0,0.10);
    box-shadow: 0px 5px 22px 1px rgba(0,0,0,0.10);
    padding: 30px 40px 55px;
    height: calc(100% - 30px);
    margin-bottom: 30px;
    border-radius: 10px 10px 10px 40px;
    -webkit-border-radius: 10px 10px 10px 40px;
    -moz-border-radius: 10px 10px 10px 40px;
    -ms-border-radius: 10px 10px 10px 40px;
    -o-border-radius: 10px 10px 10px 40px;
}
.partner-box p {
    color: #777777;
    font-size: 14px;
    line-height: 26px;
}
.partner-box--image {
    display: block;
    margin: 30px auto 40px;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
    height: 90px;
    object-fit: scale-down;
    max-width: 270px;
}
@media (max-width: 1200px) {
    .partner-box--image {
        max-width: 100%;
    }
}
.support-us h3 {
    color: #000; 
    font-weight: 600; 
    font-size: 18px;
    margin-bottom: 30px;
}
.support-us img {
    margin: 50px 0;
}
.support-us p {
    color: #777777;
    font-size: 14px;
    line-height: 26px;
    margin-bottom: 0;
}
.support-us a {
    color: #3da4d7;
    text-decoration: none;
}

/* ODKAZY */
.side-nav {
    padding: 35px 35px 50px;
    -webkit-box-shadow: 0px 5px 22px 1px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 5px 22px 1px rgba(0,0,0,0.10);
    box-shadow: 0px 5px 22px 1px rgba(0,0,0,0.10);
    border-radius: 10px 10px 10px 40px;
    -webkit-border-radius: 10px 10px 10px 40px;
    -moz-border-radius: 10px 10px 10px 40px;
    -ms-border-radius: 10px 10px 10px 40px;
    -o-border-radius: 10px 10px 10px 40px;
}
.side-nav ul {
    list-style: none;
    padding: 0;
}
.side-nav li a {
    font-size: 14px;
    font-weight: 500;
    color: #000;
    display: block;
    text-decoration: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    padding: 14px 32px 14px 40px;
    transition-duration: 0.2s;
    margin-bottom: 2px;
    background-image: url("../img/odkazy-blue.png");
    background-repeat: no-repeat;
    background-position: left 18px center;
}
.side-nav li.active a, .side-nav li a:hover {
    color: #fff;
    background-color: #3da4d7;
    background-image: url("../img/odkazy-white.png");
}
.odkazy-box h2 {
    font-size: 32px;
}
.odkazy-col a {
    color: #3da4d7;
    font-size: 14px;
    font-weight: 500;
    display: block;
    line-height: 26px;
    text-decoration: none;
    overflow-wrap: break-word;
}
.odkazy-col .odkazy-title {
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    text-transform: uppercase;
    color: #000;
    display: block;
    margin-bottom: 0px;
}
.odkazy-row .odkazy-col {
    padding: 17px 0;
}
.odkazy-row .odkazy-col:not(:last-of-type) {
    border-bottom: 1px solid #ececec;
}
@media (max-width: 993px) {
    .side-nav {
        margin-bottom: 50px;
    }
}
@media (max-width: 576px) {
    .side-nav {
        padding: 25px 15px 20px;
    }
}

/* NOVINKY */
.subpage-custom h2.center-title, .sub-section h2.center-title {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    letter-spacing: -0.75px;
}
.newsletter {
    margin: 10px 0 30px;
}
.newsletter h2 {

}
.newsletter form {
    display: flex;
}
.newsletter .newsletter--input {
    padding: 8px 20px 8px 50px;
    background-image: url("../img/news.png");
    background-repeat: no-repeat;
    background-position: left 15px center;
    border: 1px solid #cccccc;
    border-right: 0;
    outline: none !important;
    border-radius: 7px 0 0 7px;
    -webkit-border-radius: 7px 0 0 7px;
    -moz-border-radius: 7px 0 0 7px;
    -ms-border-radius: 7px 0 0 7px;
    -o-border-radius: 7px 0 0 7px;
    color: #777777;
    font-size: 14px;
    line-height: 26px;
    height: 48px;
}
.newsletter .newsletter--button {
    border-radius: 0 7px 7px 0;
    -webkit-border-radius: 0 7px 7px 0;
    -moz-border-radius: 0 7px 7px 0;
    -ms-border-radius: 0 7px 7px 0;
    -o-border-radius: 0 7px 7px 0;
    background-image: none;
    padding: 0 36px;
    height: 48px;
}
@media (max-width: 576px) {
    .subpage-custom h2.center-title, .sub-section h2.center-title {
        text-align: left;
    }
    .newsletter form {
        flex-direction: column;
        width: 100%;
    }
    .newsletter .newsletter--input {
        border-right: 1px solid #cccccc;
    }
    .newsletter .newsletter--button, .newsletter .newsletter--input {
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
    }
    .newsletter .newsletter--input {
        width: 100%;
        margin-bottom: 4px;
    }
    .newsletter .newsletter--button {
        width: fit-content;
        width: -moz-fit-content;
    }
}

/* ODBORNE MATERIALY */
.qaa-box--shadow {
    padding: 38px 40px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.08);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.08);
    border-radius: 0 25px 0 25px;
    -webkit-border-radius: 0 25px 0 25px;
    -moz-border-radius: 0 25px 0 25px;
    -ms-border-radius: 0 25px 0 25px;
    -o-border-radius: 0 25px 0 25px;
    margin-bottom: 30px;
}
.qaa-box--shadow .qaa-answer p {
    line-height: 26px;
}
@media (max-width: 576px) { 
    .qaa-box--shadow {
        padding: 28px 25px;
    }
}

/* AKCE */
.btn-lightbluebordered.btn-nobg {
    background-image: none !important;
    padding: 14px 30px;
    text-align: center;
    width: 100%;
}
.btn-lightbluebordered.btn-active {
    background-color: #3da4d7;
    color: #fff;
}
.akce-box .btn-lightbluebordered {
    font-size: 17px;
    font-weight: 500;
}
.akce-box .btn-lightbluebordered {
    color: #000;
}
.akce-box .btn-lightbluebordered:hover {
    color: #fff;
}
.akce-box p {
    margin-top: 25px;
    color: #777777;
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    margin-bottom: 0;
}
.akce-box {
    margin-right: 45px;
}
@media (max-width:1500px) {
    .akce-box {
        margin-right: 0px;
    }
    .btn-lightbluebordered.btn-nobg {
        padding: 14px 20px;
        font-size: 15px;
    }
}
.btn-lightbluebordered.btn-active {
    background-color: #3da4d7;
    color: #fff;
}
.links-extended .link-card--title {
    letter-spacing: -0.5px;
    margin-bottom: 25px;
}
.links-extended p {
    font-weight: 600;
}
.links-extended .link-card--content {
    padding: 30px 30px 120px;
}

/* AKCE DETAIL */
.pr-detail .pr-detail--smalltitle {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 2px;
    line-height: 26px;
}
.countdown .row {
    margin-right: -7px;
    margin-left: -7px;
}
.countdown .col {
    padding-left: 7px;
    padding-right: 7px;
}
.countdown .countdown--box {
    background-color: #3da4d7;
    color: #fff;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 13px 10px 10px;
    height: 72px;
}
.countdown .countdown--box p {
    margin-bottom: 0;
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
}
.countdown .countdown--box span {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.countdown {
    margin-top: 70px;
    max-width: 92%;
}
@media (max-width:993px) {
    .countdown {
        max-width: 100%;
    }
}
@media (max-width:576px) {
    .countdown {
        margin-top: 30px;
        margin-bottom: 20px;
    }
}
.photogallery--item {
    margin-bottom: 30px;
    display: block;
}
.photogallery--item img {
    height: 220px;
    object-fit: cover;
}

@media (max-width:576px) {
    .photogallery--item img {
        width: 100%;
    }
}

/* MAPA KONTAKTU */
.map .map--nav {
    padding: 70px 60px 70px 60px;
    border-radius: 10px 10px 10px 40px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.08);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.08);
    -webkit-border-radius: 10px 10px 10px 40px;
    -moz-border-radius: 10px 10px 10px 40px;
    -ms-border-radius: 10px 10px 10px 40px;
    -o-border-radius: 10px 10px 10px 40px;
}
.map .map--nav a {
    color: #000;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    line-height: 36px;
    padding-left: 20px;

}
.map .map--nav .row div:nth-child(even) a {
    margin-left: 25px;
}
.map .map--nav a.active, 
.map .map--nav a:hover {
    color: #b9453d;
    background-image: url("../img/arrow-red.png");
    background-repeat: no-repeat;
    background-position: left center;
}
.map-contacts p {
    color: #777777;
    font-size: 14px;
    line-height: 25px;
    display: block;
    font-weight: 500;
    margin-bottom: 0;
}
.map-contacts a {
    color: #3da4d7;
    font-size: 14px;
    line-height: 25px;
    font-weight: 500;
    display: block;
    text-decoration: none;
    margin-bottom: 0;
}
.map-contacts {
    margin-top: 80px;
}
.map-contacts--col {
    padding: 40px 25px 35px;
    border-radius: 0 25px 0 25px;
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.08);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.08);
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.08);
    -webkit-border-radius: 0 25px 0 25px;
    -moz-border-radius: 0 25px 0 25px;
    -ms-border-radius: 0 25px 0 25px;
    -o-border-radius: 0 25px 0 25px;
    margin-bottom: 30px;
}
.map-contacts--col .btn-lightbluebordered {
    padding: 11px 43px 11px 28px;
}
@media (min-width: 1500px) {
    .map-contacts--col .email-col a {
        margin-left: 40px;
    }
}
@media (max-width: 1500px) and (min-width: 1200px) {
    .map-contacts--col .phones-col {
        padding: 0;
    }
    .map .map--nav .row div:nth-child(even) a {
        margin-left: 0;
    }
    .map .map--nav {
        padding: 70px 20px 70px 40px;
    }
}
@media (min-width: 1200px) {
    .map-contacts--col .btn-lightbluebordered {
        margin-top: -12px;
    }
}
@media (max-width: 1200px) {
    .map-contacts--col .col-12 {
        margin-bottom: 15px;
    }
    .map .map--nav .row div:nth-child(even) a {
        margin-left: 0px;
    }
}
@media (max-width: 576px) {
    .map .map--nav {
        padding: 40px 10px 50px 10px;
    }
}
#map {
  max-width: 100%;
  height: 400px;
  margin: 0 75px;
}
@media (max-width:576px) {
    #map {
        margin: 0 0 40px;
        height: 300px;
    }
}